<header>
    <nav>
        <a mat-button routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a mat-button routerLink="projects" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Projects</a>
        <a mat-button routerLink="articles" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Articles</a>
        <a mat-raised-button color="" href="./assets/cv_2023.pdf" target="_blank">view CV</a>
    </nav>
</header>