header {
    background-color: rgb(61, 61, 61);
    padding: 1em;
    margin-bottom: 2rem;
    box-shadow: 0 0px 5px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    >img{
        height: 3rem;
        cursor: pointer;
    }
    >nav{
        flex: 1;
    }
    nav.desktop {
        display: none;
        text-align: right;
        a {
            text-decoration: none;
            color: white;
            margin: .5rem 1rem .5rem 0;
            font-size: large;
            &.active {
                color: rgb(196, 196, 196);
            }
        }
    }
    nav.mobile{
        text-align: right;
    }
}

@media (min-width: 750px) {
    nav.desktop{
        display: block !important;
    }
    nav.mobile{
        display: none;
    }
}