header {
    background-color: rgb(61, 61, 61);
    padding: 1em;
    margin-bottom: 2rem;
    nav {
        a {
            text-decoration: none;
            color: white;
            margin-right: 1rem;
            font-size: large;
            &.active {
                color: rgb(196, 196, 196);
            }
        }
    }
}