<footer>
    <a href="https://github.com/Adrien-Ray" target="_blank" rel="noopener noreferrer">
        <figure>
            <img [src]="uploadFolder + '../../ico/logo-github.png'" alt="">
            <figcaption>Github</figcaption>
        </figure>
    </a>
    <a href="https://gitlab.com/Adrien-Ray" target="_blank" rel="noopener noreferrer">
        <figure>
            <img [src]="uploadFolder + '../../ico/gitlab-logo.webp'" alt="">
            <figcaption>Gitlab</figcaption>
        </figure>
    </a>
    <a href="https://www.linkedin.com/in/adrien-raymond-568b1b20a/" target="_blank" rel="noopener noreferrer">
        <figure>
            <img [src]="uploadFolder + '../../ico/logo-linkedin.png'" alt="">
            <figcaption>Linkedin</figcaption>
        </figure>
    </a>
</footer>