<div class="landing">
    <h1>bienvenu sur la version Angular de mon portfolio</h1>
    <div class="landing__menu">
        <a
            mat-raised-button
            color="primary"
            routerLink="projects"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
        >
            <mat-icon aria-label="view projects">code</mat-icon>
            <span>projets</span>
        </a>
        <a
            mat-raised-button
            color="primary"
            routerLink="articles"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
        >
            <mat-icon aria-label="view articles">newspaper</mat-icon>
            <span>articles</span>
        </a>
        <a
            mat-raised-button
            color="primary"
            routerLink="contact"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
        >
            <mat-icon aria-label="go to contact page">alternate_email</mat-icon>
            <span>contact</span>
        </a>
        <a
            mat-raised-button
            color="primary"
            href="./assets/cv_2023.pdf"
            target="_blank"
        >
            <mat-icon aria-label="Example home icon">picture_as_pdf</mat-icon>
            <span>CV</span>
        </a>
    </div>
    <div class="landing__progress">
        <h2>LANGUAGES</h2>
        <h3>HTML5</h3>
        <mat-progress-bar mode="determinate" color="accent" value="100"></mat-progress-bar>
        <h3>CSS3/SCSS</h3>
        <mat-progress-bar mode="determinate" color="accent" value="95"></mat-progress-bar>
        <h3>JS</h3>
        <mat-progress-bar mode="determinate" color="accent" value="85"></mat-progress-bar>
        <h3>TS</h3>
        <mat-progress-bar mode="determinate" color="accent" value="70"></mat-progress-bar>
        <h3>SQL</h3>
        <mat-progress-bar mode="determinate" color="accent" value="75"></mat-progress-bar>
        <h3>PHP</h3>
        <mat-progress-bar mode="determinate" color="accent" value="70"></mat-progress-bar>

        <h2>FRAMEWORKS</h2>
        <h3>NODE EXPRESS</h3>
        <mat-progress-bar mode="determinate" color="accent" value="65"></mat-progress-bar>
        <h3>MongoDB - MONGOOSE</h3>
        <mat-progress-bar mode="determinate" color="accent" value="65"></mat-progress-bar>
        <h3>VUE.JS</h3>
        <mat-progress-bar mode="determinate" color="accent" value="60"></mat-progress-bar>
        <h3>ANGULAR</h3>
        <mat-progress-bar mode="determinate" color="accent" value="50"></mat-progress-bar>
        <h3>REACT</h3>
        <mat-progress-bar mode="determinate" color="accent" value="40"></mat-progress-bar>
        <h3>SYMFONY (soon)</h3>
        <mat-progress-bar mode="determinate" color="accent" value="0"></mat-progress-bar>
        <h3>LARAVEL (soon)</h3>
        <mat-progress-bar mode="determinate" color="accent" value="0"></mat-progress-bar>
        
        <h2>OTHERS</h2>
        <h3>DOCKER</h3>
        <mat-progress-bar mode="determinate" color="accent" value="30"></mat-progress-bar>
    </div>
</div>
