<div class="landing">
    <h1>welcome on my Angular portfolio</h1>
    <div class="landing__menu">
        <a mat-raised-button color="primary" routerLink="projects" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><mat-icon aria-label="view projects">code</mat-icon><span>go to projects</span></a>
        <a mat-raised-button color="primary" routerLink="articles" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><mat-icon aria-label="view articles">newspaper</mat-icon><span>go to articles</span></a>
        <a mat-raised-button color="primary" routerLink="contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><mat-icon aria-label="go to contact page">alternate_email</mat-icon><span>contact</span></a>
        <a mat-raised-button color="primary" href="./assets/cv_2023.pdf" target="_blank"><mat-icon aria-label="Example home icon">picture_as_pdf</mat-icon><span>view CV</span></a>
    </div>
</div>

