<div class="content" *ngIf="theArticle$ | async as article">
    <h1>{{article.article_title}}</h1>
    <!-- <img [src]="'https://portfolio.accesdenied.net/assets/img/upload/' + project.project_thumbnail" [alt]="project.project_title">
    <div class="links">
        <a target="_blank" *ngIf="project.project_link !== ''" href="{{project.project_link}}" class="button">voir le projet</a>
        <a target="_blank" *ngIf="project.project_github !== ''" href="{{project.project_github}}" class="button">voir le repository</a>
        <a target="_blank" *ngIf="project.project_design_file_link !== ''" href="{{project.project_design_file_link}}" class="button">voir le dossier</a>
    </div>
    <p>{{project.project_context}}</p> -->
</div>