.content{
    // voir complement dans main.js => .content--width
    .content__article_preambule{
        font-style: italic;
        font-weight: bold;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}