<form class="example-form" [formGroup]="form">
    <h1>Formulaire de contact</h1>
    <mat-form-field class="example-full-width">
        <mat-label>entrer votre mail:</mat-label>
        <input matInput placeholder="" value="" formControlName="mail">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>entrer votre message:</mat-label>
        <textarea matInput placeholder="" formControlName="message"></textarea>
    </mat-form-field>
    <button [disabled]="form.invalid" mat-raised-button type="submit" (click)="onSubmitForm()"><mat-icon aria-label="view articles">send</mat-icon>envoyer</button>
</form>